<div class="results">
	<!-- 本当は真ん中に配置したい -->
	<h2>- results -</h2>
		<table class="results-list">
			<tr>
				<th class="profile_image_id"></th>
				<th class="result-name">Name</th>
			</tr>
		<% @users.each do |user| %>
			<tr>
				<!-- 名前リンク先設定。 -->
				<%= link_to user_path(user.id) do %>
					<td><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size:'40x40' %></td>
					<td><%= link_to user.name, user_path(user) %></td>
				<% end %>
			</tr>
		<% end %>
		</table>
</div>