<!-- 仮完成 -->
<div class="about">
  <h3>当サイトご利用にあたって</h3>
    <br>

    <p>このサイトは世界各地の写真を自由に投稿・閲覧・感想などをコメントできるサイトです。<br>
       旅行前の計画や、写真を通してバーチャル旅行など自由にお楽しみください！</p>

    <p>なお、投稿・いいね・コメント機能のご利用に関しては、登録が必要となります(登録無料)。<br>
       また登録にあたってはご自身のメールアドレスが必要となります。</p>
<!-- </div> -->

  <br><br>

    <h4>ー 推奨ブラウザ ー</h4>
    	<p>Microsoft Internet Explorer 11.0以上</p>
    	<p>Firefox最新版</p>
    	<p>Google Chrome最新版</p>
    	<p>iOS Safari最新版</p>
    	<p>Android 7.0以降の標準ブラウザ</p>
  <br>

    <p>推奨環境以外のブラウザでは、正常に表示されない場合がございます。<br>
       予めご了承の上、ご利用いただきますようお願い申し上げます。</p>
</div>
