<div class="container">
  <!-- aboutページ -->
  <div class="about">

    <!-- <div class="container"> -->
      <div class="theTarget">
        <div style="background-image: url(images/hawaii.jpg)"></div>
        <!-- <div style="background-image: url(images/photo8.jpeg)"></div> -->
        <!-- <div style="background-image: url(images/hawaii.jpg);"></div> -->
      </div>
    <!-- </div> -->


    <div class="text">
      <h3>ー 当サイトご利用にあたって ー</h3>
        <br>

        <p>このサイトは世界各地の写真を自由に投稿・閲覧・感想などをシェアできるサイトです。<br>
           旅行前の計画や、写真を通してバーチャル旅行など自由にお楽しみください！</p>

        <p>なお、投稿・いいね・コメント機能のご利用に関しては、登録が必要となります(登録無料)。<br>
           また登録にあたってはご自身のメールアドレスが必要となります。</p>


        <br>


        <h3>ー 作成者 ー</h3><br>
          <h3 class=author>Tatsuro Muto</h3><br>
          <p>埼玉県在住、新卒で携帯電話通信会社店舗での接客業、大手人材会社での就業を経て、<br>現在は某プログラミングスクールにて、HTML,CSS,Ruby,Ruby on railsなどを学習中。<br></p>

          学習期間終了後、未経験エンジニア転職を目指し就職活動中。
      </div>
  </div>

</div>
