// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//homes#top

// .row{
// 	margin-top:40px;
// }

.new{
	font-size:30px;
	margin-top: 10px;
}


.form{
	text-align:right;
}



//いるか微妙。。
.photo2{
	display:flex;

.attachment{
	border-radius:20%;
}
}





//homes#about
.about{
	margin:30px;
	text-align:center;
}

