// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos{
	float:left;
	text-align: center;
	// border: solid;
}

.new{
	text-align: center;
}

.about{
	margin:30px;
	text-align:center;
}

.row{
	margin-top:40px;
}