// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//homes#top

// .row{
// 	margin-top:40px;
// }

.new{
	font-size:30px;
	margin-top: 10px;
}


.form{
	text-align:right;
}


//これいる？スペル怪しい。反映されないなら削除する。
.photos{
	// float:left;
	// border: solid;
	display: flex;
	// flex-wrap: wrap;
	// justify-content:flex-center;
	// justify-content: space-between;
	// background-color:limegreen;
	// border: 10px solid black;
}


//homes#about
.about{
	margin:30px;
	text-align:center;
}

