<h2>お試し用index画面です</h2>



<!-- each文で繰り返し表示させる！ -->
	<% @post_images.each do |post_image| %>

		<div>
			画像出てるか？
			<%= attachment_image_tag post_image, :image, size: "300x300" %>
		<!-- ユーザー名出したい -->
			Photo by <%= post_image.user.name %>
		</div>
	<% end %>




