<!-- エラーメッセージ表示 -->
<% if model.errors.any? %>
	<div class="error">
		<h3><%= model.errors.count %>件　不足項目があります</h3>
	</div>
<% end %>


<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>